<h3>Configuración</h3>

<div class="config-cards row">
  <div class="col s12 m4 l3">
    <div class="card">
      <p class="center">
        <a href="/configuracion/proyectos">
          <i class="large material-icons red-text">work</i>
          <div class="config-card-title">Proyectos</div>
        </a>
      </p>
    </div>
  </div>

   <div class="col s12 m4 l3">
    <div class="card">
      <p class="center">
        <a href="/configuracion/usuarios">
          <i class="large material-icons red-text">account_circle</i>
          <div class="config-card-title">Usuarios</div>
        </a>
      </p>
    </div>
  </div>

</div>