<h3>Configuración</h3>

<div class="config-cards row">
  <div class="col s12 m4 l3">
    <div class="card">
      <p class="center">
        <a href="/configuracion/tipos-de-proyectos">
          <i class="large material-icons red-text">work</i>
          <div class="config-card-title">Tipos de Proyectos</div>
        </a>
      </p>
    </div>
  </div>

   <div class="col s12 m4 l3">
    <div class="card">
      <p class="center">
        <a href="/configuracion/usuarios">
          <i class="large material-icons red-text">account_circle</i>
          <div class="config-card-title">Usuarios</div>
        </a>
      </p>
    </div>
  </div>
  
  <div class="col s12 m4 l3">
    <div class="card">
      <p class="center">
        <a href="/configuracion/clientes">
          <i class="large material-icons red-text">group</i>
          <div class="config-card-title">Clientes</div>
        </a>
      </p>
    </div>
  </div>
   
  <div class="col s12 m4 l3">
    <div class="card">
      <p class="center">
        <a href="/configuracion/industrias">
          <i class="large material-icons red-text">location_city</i>
          <div class="config-card-title">Industrias</div>
        </a>
      </p>
    </div>
  </div>
  
  <div class="col s12 m4 l3">
    <div class="card">
      <p class="center">
        <a href="/configuracion/company_sizes">
          <i class="large material-icons red-text">location_city</i>
          <i class="medium material-icons red-text">location_city</i>
          <div class="config-card-title">Tamaño Empresa</div>
        </a>
      </p>
    </div>
  </div>

  <div class="col s12 m4 l3">
    <div class="card">
      <p class="center">
        <a href="/configuracion/departamentos">
          <i class="large material-icons red-text">domain</i>
          <div class="config-card-title">Departamentos</div>
        </a>
      </p>
    </div>

</div>
