<nav class="config-breadcrumb z-depth-0">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="/configuracion" class="breadcrumb">Configuración</a>
        <a href="/configuracion/clientes" class="breadcrumb">Clientes</a>
        <a href="#" class="breadcrumb">Nuevo</a>
      </div>
    </div>
</nav>
<div class="admin-area z-depth-0">
<%= render 'form', client: @client %>
</div>
