<div class="project-area-title">Calendario</div>
<div class="project-area-actions"><a href="<%= "#{project_url}" %>/calendario/nuevo" class="btn blue">Agregar un evento</a></div>
<div class="spacer-2em"></div>
<% @schedules_list = @project.schedules.where(status: Schedule::ACTIVE).where('DATE(start_date) >= DATE(NOW()) OR DATE(end_date) >= DATE(NOW())').order('start_date ASC, end_date ASC') %>
<% if @schedules_list.count > 0 %>
  <h4>Próximos eventos</h4>
  <%= render 'projects/schedules_list', project: @project, schedules_list: @schedules_list, table_class: 'upcoming-events' %>
  <div class="spacer-2em"></div>
<% end %>

<% @schedules_list = @project.schedules.where(status: Schedule::ACTIVE).where('start_date <= NOW() AND NOT ( DATE(start_date) >= DATE(NOW()) OR DATE(end_date) >= DATE(NOW()) ) ').order('start_date DESC') %>
<% if @schedules_list.count > 0 %>
  <h4>Eventos pasados</h4>
  <%= render 'projects/schedules_list', project: @project, schedules_list: @schedules_list, table_class: 'past-events' %>
<% end %>

