<%= render 'header', project: @project, show_top_menu: true %>
<div class="project-area z-depth-1">
  <div class="project-area-title">Presupuesto</div>

</div>
<script>
Materialize.toast('<%= notice %>', 3000)
</script>