<%= render 'header', project: @project, show_top_menu: true %>
<div class="project-area z-depth-1">
  <div class="project-area-title">Archivos</div>

  <form action="#">
    <div class="file-field input-field">
      <div class="btn blue">
        <span>Archivo</span>
        <input type="file" multiple>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Sube uno o más archivos">
      </div>
    </div>
  </form>

</div>