<%= render 'projects/header', project: @project, show_top_menu: true %>
<div class="project-area z-depth-1 schedule-form">
<% @schedule.all_day = true %>
<%= render 'projects/schedule_form', project: @project, schedule: @schedule, save_button: 'Agregar evento' %>
</div>

<script>
$("#schedules_title").select();
</script>