<nav class="config-breadcrumb z-depth-0">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="/configuracion" class="breadcrumb">Configuración</a>
        <a href="/configuracion/company_sizes" class="breadcrumb">Tamaños de compañías</a>
        <a href="#" class="breadcrumb">Nuevo</a>
      </div>
    </div>
</nav>

<%= render 'form', company_size: @company_size %>
