<div id="login-area" class="card">
  <img id="cimav-logo" src="/media/landing/cimav-logo.png">
  <%= image_tag "cimav-logo-texto.png", id: 'cimav-logo' %>
  <div id="logo-area">
    <img id="app-logo" src="/media/landing/app-logo.png">
    <%= image_tag "app-logo.png", id: 'app-logo' %>
    <h5>Proyectos</h5>
    <a href="/auth/google_oauth2" class="red lighten-1 waves-effect waves-light btn">Ingresar</a>
  </div>
</div>