<div id="login-area" class="card">
  <%= image_tag "cimav-logo-texto.png", id: 'cimav-logo' %>
  <div id="logo-area">
    <%= image_tag "app-logo.png", id: 'app-logo' %>
    <h5>Proyectos</h5>
    <a href="/auth/google_oauth2" class="red lighten-1 waves-effect waves-light btn">Ingresar</a>
  </div>
</div>