body {
  background: #F9F7F3;
}

.no-wrap {
  white-space: nowrap;
}

.brand-logo-image {
  height: 58px;
  padding: 4px 1em 0 0;
  margin: 0;
}

#user-top-image {
  margin: 4px 1em 0 0;
  width: 56px;
  height: 56px;
}

.tr-link {
  cursor: pointer; 
}

.tr-link-nw {
  cursor: pointer;
}

.picture-64 {
  width: 64px;
  height: 64px;
}

.picture-48 {
  width: 48px;
  height: 48px;
}

.picture-32 {
  width: 32px;
  height: 32px;
}

.spacer {
  height: 0px;
}

.spacer-2em {
  height: 2em;
  display: block;
}

h4 {
  font-size: 140% !important;
  color: #f44336 !important;
}