// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project-dropdown-title {
  text-transform: none !important;
  font-size: 2em;
  text-align: left !important;
}

#project-list {
  margin-top: 2em;
  padding: 0 10px 0 0;
  td {
    vertical-align: top;
    .extra {
      color: #999;
      font-size: 80%;
    }
    &.project-manager {
      padding-right: 52px;
      img {
        width: 40px;
        height: 40px;
        margin-right: 6px;
      }
    }
    &.project-budget {
      padding-right: 52px;
      img {
        padding: 0 10px 0 0;
      }
    }
  }
}

input#project_internal_name {
  text-align: center;
  font-size: 300% !important;
}

#project-cards {
  .card {
    .card-title {
      font-size: 120%;
    }
    .card-content {
      height: 260px;
      overflow-y: scroll;
    }
  }
}

#project-menu {
  .btn {
    font-size: 60%;
  }
}

.card-informacion { border-top: 4px solid #e53935; }
.card-calendario  { border-top: 4px solid #ff7043; }
.card-mensajes    { border-top: 4px solid #ffab00; }
.card-presupuesto { border-top: 4px solid #4caf50; }
.card-servicios   { border-top: 4px solid #00bcd4; }
.card-personas    { border-top: 4px solid #9c27b0; }
.card-documentos  { border-top: 4px solid #ad1457; }







