// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project-dropdown-title {
  text-transform: none !important;
  font-size: 2em;
  text-align: left !important;
}

#project-list {
  margin-top: 2em;
  padding: 0 10px 0 0;
  td {
    vertical-align: top;
    .extra {
      color: #999;
      font-size: 80%;
    }
    &.project-manager {
      padding-right: 52px;
      img {
        padding: 0 10px 0 0;
      }
    }
    &.project-budget {
      padding-right: 52px;
      img {
        padding: 0 10px 0 0;
      }
    }
  }
}

.chiqui { font-size: 90%; }
