// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-area {
  background: #fff;
  margin-top: 1.5em;
  margin-bottom: 5em;
  padding: 3em;
  .project-area-title {
    text-align: center;
    font-size: 200%;
    font-weight: 500;
  }
  .project-area-actions {
    text-align: center;
    margin-top: 0.5em;
  }
}

#project-dropdown-title {
  text-transform: none !important;
  font-size: 2em;
  text-align: left !important;
}

h3.project-title-header {
  font-weight: 500;
  font-size: 220%;
  margin-bottom: 0.4em;
  a {
    color: #000;
  }
}

.project-participants {
  img {
    margin: 0 5px;
  }
  .btn-floating {
    margin: 0 !important;
    padding: 0 !important;
  }
}

#project-list {
  margin-top: 2em;
  padding: 0 10px 0 0;
  td {
    vertical-align: top;
    .extra {
      color: #999;
      font-size: 80%;
    }
    &.project-manager {
      padding-right: 52px;
      img {
        width: 40px;
        height: 40px;
        margin-right: 6px;
      }
    }
    &.project-budget {
      padding-right: 52px;
      img {
        padding: 0 10px 0 0;
      }
    }
  }
}

input#project_internal_name {
  text-align: center;
  font-size: 300% !important;
}

#project-cards {
  .card {
    font-size: 85%;
    padding-top: 0.5em;
    .project-card-title {
      font-weight: 500;
      text-align: center;
      font-size: 160%;
      padding: 0.5em 0;
      margin-bottom: 0.5em;
    }
    .card-content {
      padding-top: 0.5em !important;
      height: 300px;
      overflow-y: hidden;
    }
    &:hover {
      background: #fcfcfc;
      cursor: pointer;
    }
  }
}

#project-menu {
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 0;
  td {
    text-align: center;
    text-transform: uppercase;
    font-size: 70%;
    color: #fff;
    padding: 0;
    margin: 0;
    a {
      color: #fff;
      padding: 1em 0;
      display: block;
      margin: 0 0.5em;
    }
  }
  .btn {
    font-size: 60%;
  }

  .project-menu-active {
    font-weight: bold;
  }
}

.project-card-icon {
  margin-top: 2em;
}

.project-card-initial-message {
  margin-top: 1.5em;
  text-align: center;
}

.person-card {
  font-size: 80%;
  margin-top: 1em;
}

.menu-item:hover { filter: brightness(120%); }

.menu-informacion { border-bottom: 2px solid #e53935; }
.menu-presupuesto { border-bottom: 2px solid #ff7043; }
.menu-mensajes    { border-bottom: 2px solid #ffab00; }
.menu-calendario  { border-bottom: 2px solid #4caf50; }
.menu-servicios   { border-bottom: 2px solid #00bcd4; }
.menu-personas    { border-bottom: 2px solid #9c27b0; }
.menu-documentos  { border-bottom: 2px solid #ad1457; }

.title-informacion { border-bottom: 2px solid #e53935; }
.title-presupuesto { border-bottom: 2px solid #ff7043; }
.title-mensajes    { border-bottom: 2px solid #ffab00; }
.title-calendario  { border-bottom: 2px solid #4caf50; }
.title-servicios   { border-bottom: 2px solid #00bcd4; }
.title-personas    { border-bottom: 2px solid #9c27b0; }
.title-documentos  { border-bottom: 2px solid #ad1457; }

/* MENSAJES */
input#messages_title {
  text-align: left;
  font-size: 300% !important;
}

.message-button-area {
  padding-top: 2em;
  text-align: center;
}

.message-form {
  trix-editor { 
    min-height: 200px;
  }
}


.show-message {
  .message-title {
    text-align: center;
    font-size: 300% !important;
    font-weight: 500;
  }
  .message-content {
    font-size: 110%;
  }
}

.messages-list {
  margin-top: 2em;
  border-collapse: collapse;
  tr {
    td {
      border-top: 1px solid #ddd;
      &.avatar-td {
        width: 54px;
      }
      .message-meta {
        color: #777;
        font-size: 90%;
      }
      .message-content {
        font-size: 110%;
        a {
          color: #000 !important;
        }
      }
    }
  }
}

.messages-list-card {
  margin-top: 0.5em;
  border-collapse: collapse;
  font-size: 85%;
  tr {
    td {
      border-bottom: 1px solid #ddd;
      padding: 0.4em 0;
      &.avatar-td {
        width: 38px;
      }
      .message-meta {
        color: #777;
        font-size: 90%;
      }
      .message-content {
        font-size: 110%;
        a {
          color: #000 !important;
        }
      }
    }
  }
}

/* CALENDARIO */
input#schedules_title {
  text-align: left;
  font-size: 300% !important;
}

.schedule-button-area {
  padding-top: 2em;
  text-align: center;
}

.schedule-form {
  trix-editor { 
    min-height: 200px;
  }
}


.show-schedule {
  .schedule-title {
    text-align: center;
    font-size: 300% !important;
    font-weight: 500;
  }
  .schedule-content {
    font-size: 110%;
  }
}

.schedules-list {
  margin-top: 0.5em;
  border-collapse: collapse;
  tr {
    td {
      border-top: 1px solid #ddd;
      &.calendar-td {
        text-align: center;
        width: 58px;
        padding: 1em 0 !important;
        margin: 0 !important;
        .month {
          color: #f44336;
          font-size: 80%;
          text-align: center;
          padding-top: 0.5em;
          text-transform: uppercase;
        }
        .day {
          font-weight: 500;
          font-size: 140%;
          text-align: center;
        }
      }
      &.calendar-data {
        padding-left: 1em;
      }
      .schedule-meta {
        color: #777;
        font-size: 90%;
      }
      .schedule-title {
        font-size: 110%;
        a {
          color: #000 !important;
        }
      }
    }
  }
}

.calendar-home {
  .cal-home-td {
    width: 40px;
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
  }
  .cal-home-title {
    padding-left: 1em;
  }
  .calendar-card-home {
    width: 40px;
    float: left;
    .month {
      color: #f44336;
      font-size: 80%;
      text-align: center;
      padding-top: 0.5em;
      text-transform: uppercase;
    }
    .day {
      font-weight: 500;
      font-size: 140%;
      text-align: center;
    }
  }
}

.past-events {
  .month {
    color: #999 !important;
  }
  .day {
    color: #aaa !important; 
  }
}





.status-line {
    width: calc(100% - 10px);
    height: 2px;
    background-color: #ddd;
    position:relative;
    margin: 4em 0 1em 0;
    .circle {
        display:inline-block;
        width: 20px;
        height: 20px;
        position: absolute;
        background: #ef5350;
        left:0;
        right:0;
        border-radius: 100%;
        top:-9px;


    }
    .circle-inactive {
        background: #ffcdd2 !important;
    }
}

.status-legend {
  font-size: 140%;
  font-weight: 500;
  margin-top: 1.5em;
  text-align: center;
}

@for $j from 1 through 96 {
  .ps_pos_#{$j} {
    margin-left: calc(#{$j}%);
  }
}

@for $j from 96 through 100 {
  .ps_pos_#{$j} {
    margin-left: calc(100% - 10px);
  }
}

.ps_pos_0 {
  margin-left: 0px !important;
}

.docs-area {
  margin-top: 2em;
  min-height: 400px;
  border: 1px solid #ddd;
  .docs-folders {
    padding: 0 !important;
    margin: 0 !important;
    min-height: 400px;
    th {
      padding: 0.4em;
      margin: 0;
      text-transform: uppercase;
      background: #fafafa;
      border-bottom: 1px solid #ddd;
      font-weight: 500;
      font-size: 80%;
    }
    td {
      padding: 0.2em;
      margin: 0;
      a { color: #000; display: block; }
    }
    .new-folder-row td {
      border-top: 1px solid #eee;
      a {
        color: #777;
      }
    }
    .folder-icon {
      width: 36px;
    }
  }
  .docs-files {
    padding: 0 !important;
    margin: 0 !important;
    min-height: 400px;
    border-left: 1px solid #ddd;
    #files-area {
      min-height: 400px;
    }
    tr {
      .file-delete {
        display: none;
      }

      &:hover {
        .file-delete {
          cursor: pointer;
          display: inline;
        }
      }
    }
    th {
      font-size: 80%;
      padding: 0.4em;
      margin: 0;
      text-transform: uppercase;
      background: #fafafa;
      border-bottom: 1px solid #ddd;
      font-weight: 500;
      &.file-size {
        text-align: right;
      }
      &.file-by {
        text-align: center;
      }
    }

    td {
      padding: 0.4em 0.4em;
      margin: 0;
      font-size: 90%;

      &.file-type {
        width: 3em;
      }

      &.file-date {
        white-space: pre;
      }
      &.file-size {
        white-space: pre;
        text-align: right;
      }
      &.file-by {
        text-align: center;
        img {
          width: 32px;
          height: 32px;
        }
      }
      &.file-actions {
        min-width: 2em;
        width: 2em;
        text-align: center;
      }
    }

  }
}

.file-ico {
  height: 2em;
  width: 2em;
  border: 1px solid #ddd;
  background: #fff;
  .file-ico-inner {
    font-size: 60%;
    text-align: center;
    font-weight: 500;
    color: #fafafa;
    margin-top: 0.7em;
    text-transform: uppercase;
    background: #999; 
    &.xls-ico  { background: #207345; }
    &.ppt-ico  { background: #d14424; }
    &.pps-ico  { background: #d14424; }
    &.doc-ico  { background: #2a5696; }
    &.xlsx-ico { background: #207345; }
    &.pptx-ico { background: #d14424; }
    &.ppsx-ico { background: #d14424; }
    &.docx-ico { background: #2a5696; }
    &.pdf-ico  { background: #e14045; }
    &.jpg-ico  { background: #136b75; }
    &.zip-ico  { background: #f1c40f; }
  }
}

.files-upload-area {
  text-align: center;
  padding: 1em;
  #files-dropzone {
    cursor: pointer;
    border: 1px dashed #ddd;
    padding: 2em;
    color: #aaa;
    font-size: 80%;
  }  
}

.folder-selected {
  td {
    background: #e3f2fd;
  }
}


